* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 25px auto;
    width: 500px;
    height: auto;
    background-color: antiquewhite;
    border-radius: 25px;
    height: 600px;
}

.header {
    text-align: center;
    padding-top: 25px;
}

.header > span {
    font-size: 17px;
    margin-left: 5px;
}